<div class="uk-width-1-1">
	<div class="uk-card custom-card-border uk-card-small uk-card-body uk-card-default">
		<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
			<li>
				<a href="../../students-list/">Students List</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li>
				<a href="../../grade-components/">Grade Components</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li class="uk-active">
				<a href="../../grading/">Grading</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li>
				<a href="../../attendance/">Attendance</a>
			</li>
		</ul>
	</div>
</div>

<h3 class="uk-heading-bullet uk-margin-top">
	Enter Grades - {{ componentName }}
</h3>

<form id="form" action="" method="post" class="uk-form uk-width-1-1">
	<table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-striped uk-table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Student</th>
				<th>Percentage</th>
				<th>Submitted At</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{{#each result}}
				<tr>
					<td>
						{{this.student_id}}
						<input type="hidden" name="student[{{this.student_id}}][id]" value="{{this.student_id}}">
					</td>
					<td>
						{{this.student}}
					</td>
					<td>
						<input class="uk-input" type="number" name="student[{{this.student_id}}][percentage]" placeholder="0" {{#if this.percentage}} value="{{this.percentage}}" {{/if}}>
					</td>
					<td>
						{{#if this.submitted_at}} {{this.submitted_at}} {{else}}- {{/if}}
					</td>
					<td>
						{{#if this.updated_at}} {{this.updated_at}} {{else}}- {{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="uk-margin uk-text-center">
		<div id="spinner" style="display: none" uk-spinner></div>
		<input type="submit" class="uk-button uk-button-primary" value="Save">
	</div>
</form>

<script>
	function showSpinner(show) {
		$("#spinner").toggle(!!show);
		$("input[type='submit']").toggle(!show);
	}

	$("#form").submit(function (e) {
		e.preventDefault();
		showSpinner(true);
		$.ajax({
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),
			success: function (data) {
				UIkit.notification({
					message: data,
					status: 'success',
					timeout: 2000
				});
				showSpinner(false);
			},
			error: function (data) {
				UIkit.notification({
					message: data,
					status: 'danger',
					timeout: 2000
				});
				showSpinner(false);
			}
		});
	});
</script>