<h3 class="uk-heading-bullet uk-margin-top">
    {{title}}
</h3>

<div uk-grid>
    {{!-- Class Navigation --}}
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
            <tr>
                <th>Title</th>
                <th>Section</th>
                <th>Hours</th>
                <th>Instructor</th>
                <th>Schedule</th>
                <th>Time</th>
                <th>Status</th>
                <th>Option</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal-register-drop" bg-close="false" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <form id="form" method action class="uk-form-stacked uk-width-1-1">
            <div class="uk-modal-header"><p class="uk-modal-title uk-text-large"></p></div>
            <input name="id" type="hidden" value>
            <input name="ch" type="hidden" value>
            <div class="uk-margin uk-width-1-1">
                <h5 class="uk-text"></h5>
            </div>
            <div class="uk-margin-top uk-text-right">
                <input type="submit" class="uk-button uk-button-primary"
                       value="Yes">
                <div class="spinner" style="display: none;">
                    <span class="uk-label uk-margin-right">Processing...</span>
                    <div uk-spinner></div>
                </div>
                <button class="uk-button uk-button-default uk-modal-close" type="button">No</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            buttons: [],
            select: {},
            {{#if subject_id_s}}
                {{#if course_number_s}}
                    {{#if keyword_s}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/su/{{subject_id_s}}/co/{{course_number_s}}/ke/{{keyword_s}}",
                    {{else}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/su/{{subject_id_s}}/co/{{course_number_s}}",
                    {{/if}}
                {{else}}
                    {{#if keyword_s}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/su/{{subject_id_s}}/ke/{{keyword_s}}",
                    {{else}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/su/{{subject_id_s}}",
                    {{/if}}
                {{/if}}
            {{else}}
                {{#if course_number_s}}
                    {{#if keyword_s}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/co/{{course_number_s}}/ke/{{keyword_s}}",
                    {{else}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/co/{{course_number_s}}",
                    {{/if}}
                {{else}}
                    {{#if keyword_s}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/ke/{{keyword_s}}",
                    {{else}}
                        ajax: "/student/registration/term/{{reg_class_t_id_ajax}}/te",
                    {{/if}}
                {{/if}}
            {{/if}}
            rowId: 'id',
            columns: [
                {"data": "title", responsivePriority: 1},
                {"data": "section", responsivePriority: 2},
                {"data": "hours", responsivePriority: 8},
                {"data": "instructor", responsivePriority: 7},
                {"data": "schedule", responsivePriority: 4},
                {"data": "time", responsivePriority: 5},
                {"data": "status", responsivePriority: 3},
                {
                    data: null,
                    responsivePriority: 6,
                    render: function (data, type, row) {
                        if (row.enroll_status == 1) {
                            return "<button class='uk-button-danger' onclick='call_drop_modal(\"" + row.title + "," + row.id + "," + row.hours + "," + row.section + "\"); return false;'>Drop</button>";
                        } else if ((row.enroll_status === null) && row.rem_enrollment > 0) {
                            return "<button class='uk-button-primary' onclick='call_reg_modal(\"" + row.title + "," + row.id + "," + row.hours + "," + row.section + "\"); return false;'>Register</button>";
                        } else if ((row.enroll_status === null) && row.rem_enrollment == 0) {
                            return "Not Available Seat";
                        }
                    }
                }
            ]
        });

        $("#modal-register-drop form").submit(function (e) {
            e.preventDefault();
            $("#modal-register-drop .spinner").show();
            $("#modal-register-drop .uk-modal-close").hide();
            $("#modal-register-drop input[type='submit']").hide();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                dataType: 'json',
                data: $(this).serialize(),
                success: function (data) {
                    UIkit.modal("#modal-register-drop").hide();
                    UIkit.notification({
                        message: data.responseText,
                        pos: "top-right"
                    });
                    setTimeout(function () {// wait for 5 secs(2)
                        window.location.reload();
                    }, 2000);
                },
                error: function (data) {
                    console.log(data);
                    UIkit.modal("#modal-register-drop").hide();
                    UIkit.notification({
                        message: data.responseText,
                        pos: "top-right"
                    });
                    setTimeout(function () {// wait for 5 secs(2)
                        window.location.reload();
                    }, 2000);
                },
                done: function (data) {

                }
            });
        });

    });

    function call_reg_modal(row) {
        let words = row.split(",");
        $('#modal-register-drop form')[0].reset();
        $("#modal-register-drop form").attr("action", "#");
        $("#modal-register-drop form").attr("method", "post");
        $("#modal-register-drop .uk-modal-title").html(words[0] + ", Section: " + words[3]);
        $("#modal-register-drop .uk-text").html("Do you want to register for this class?");
        $("#modal-register-drop input[type='submit']").show();
        $("#modal-register-drop input[name='id']").attr("value", words[1]);
        $("#modal-register-drop input[name='ch']").attr("value", words[2]);
        $("#modal-register-drop .uk-modal-close").show();
        $("#modal-register-drop .spinner").hide();
        UIkit.modal("#modal-register-drop").show();
    }

    function call_drop_modal(row) {
        let words = row.split(",");
        $('#modal-register-drop form')[0].reset();
        $("#modal-register-drop form").attr("action", "#");
        $("#modal-register-drop form").attr("method", "delete");
        $("#modal-register-drop .uk-modal-title").html(words[0] + ", Section: " + words[3]);
        $("#modal-register-drop .uk-text").html("Do you want to drop this class?");
        $("#modal-register-drop input[type='submit']").show();
        $("#modal-register-drop input[name='id']").attr("value", words[1]);
        $("#modal-register-drop input[name='ch']").attr("value", words[2]);
        $("#modal-register-drop .uk-modal-close").show();
        $("#modal-register-drop .spinner").hide();
        UIkit.modal("#modal-register-drop").show();
    }

</script>