{{#if classDetailsFound}}
    <h3 class="uk-heading-bullet">{{classDetails.subject_code}} {{classDetails.course_number}} - {{classDetails.course_name}} - Section {{classDetails.section}}</h3>

    <div uk-grid>
        <div class="uk-width-2-3@l">
            <div class="uk-card uk-card-small uk-card-default uk-card-body custom-card-border">
                <h3 class="uk-margin-small-bottom">Class Details</h3>
                <div>
                    {{classDetails.course_description}}
                </div>
                <table class="uk-table uk-table-striped uk-table-small">
                    <tbody>
                        <tr>
                            <td>Subject</td>
                            <td>{{classDetails.subject_name}}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>{{classDetails.school_name}}</td>
                        </tr>
                        <tr>
                            <td>Term</td>
                            <td>{{classDetails.term_name}}</td>
                        </tr>
                        <tr>
                            <td>Grade Mode</td>
                            <td>{{classDetails.grade_mode_name}}</td>
                        </tr>
                        <tr>
                            <td>Schedule Type</td>
                            <td>{{classDetails.schedule_type_name}}</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>{{classDetails.start_date}}</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>{{classDetails.end_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{#if classMeetingsFound}}
                <div class="uk-margin-top uk-card uk-card-small uk-card-default uk-card-body custom-card-border">
                    <h3 class="uk-margin-remove-bottom">Class Meetings</h3>
                    {{#each classMeetings}}

                        <table class="uk-margin-small-top uk-table uk-table-striped uk-table-small">
                            <tbody>
                                <tr>
                                    <td>Time</td>
                                    <td>
                                        {{#if this.monday}}Monday. {{/if}}
                                        {{#if this.tuesday}}Tuesday. {{/if}}
                                        {{#if this.wednesday}}Wednesday. {{/if}}
                                        {{#if this.thursday}}Thursday. {{/if}}
                                        {{#if this.friday}}Friday. {{/if}}
                                        {{#if this.saturday}}Saturday. {{/if}}
                                        {{#if this.sunday}}Sunday. {{/if}}
                                        {{this.start_time}} - {{this.end_time}}.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Building</td>
                                    <td>{{this.building_code}} - {{this.building_name}}</td>
                                </tr>
                                <tr>
                                    <td>Room</td>
                                    <td>{{this.room_code}} - {{this.room_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    {{/each}}
                </div>
            {{else}}
                <div class="uk-alert-danger" uk-alert>
                    <p>There is no meeting time available for this class.</p>
                </div>
            {{/if}}
        </div>
        {{!-- Right Column - Class Navigation --}}
        <div class="uk-width-1-3@l">
            <div class="custom-card-border uk-card uk-card-small uk-card-body uk-card-default">
                <h3 class="uk-margin-small-bottom">Class Navigation</h3>
                <a class="uk-button uk-button-text" href="/student/terms/{{classDetails.term_id}}/classes/{{classDetails.class_id}}/grades/">View Grades
                </a>
            </div>
        </div>
    </div>
{{else}}
    <div class="uk-alert-danger" uk-alert>
        <p>There is no information available for this class.</p>
    </div>
{{/if}}