<h3 class="uk-heading-bullet uk-margin-top uk-margin-remove-bottom">{{title}}</h3>

<div uk-grid>
    {{!-- Class Navigation --}}
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Score/Out of</th>
                    <th>Percentage</th>
                    <th>Letter Grade</th>
                    <th>Weight</th>
                </tr>
            </thead>
        </table>
        <table class="uk-table uk-table-striped">
            <tbody>
                <tr>
                    <td>Final Percent</td>
                    <td>{{final_percent}}</td>
                </tr>
                <tr>
                    <td>Final Grade</td>
                    <td>{{final_grade}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            buttons: [],
            select: {},
            searching: false,
            ajax: "/student/terms/{{term_id}}/classes/{{class_id}}/grades/all",
            rowId: 'id',
            columns: [
                { "data": "title", responsivePriority: 1 },
                { "data": "score_outof", responsivePriority: 2 },
                { "data": "percentage", responsivePriority: 5 },
                { "data": "letter_grade", responsivePriority: 3 },
                { "data": "weight", responsivePriority: 4 },
            ]
        });
    });
</script>