<div class="uk-padding-small">
    <div class="uk-margin-medium-bottom">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="80" src="/uploads/images/{{student.image_path}}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{student.lastname}} {{student.firstname}} {{student.patronymic}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">Student</p>
            </div>
        </div>
    </div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-line">
            <span>About</span>
        </h3>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Email</div>
            <div>{{student.email}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Address</div>
            <div>{{student.address}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Sex</div>
            <div>{{student.sex}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Date of birth</div>
            <div>{{student.date_of_birth}}</div>
        </div>
    </div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-line">
            <span>Academic</span>
        </h3>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Status</div>
            <div>{{student.status_academic}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Program</div>
            <div>{{student.program_name}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>School</div>
            <div>{{student.school_name}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Major</div>
            <div>{{student.major_name}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Admit Term</div>
            <div>{{student.admit_term_name}}</div>
        </div>
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>
                Graduation Term
            </div>
            <div>
                {{#if graduation_term_name}}{{student.graduation_term_name}}{{else}}Not Assigned{{/if}}
            </div>
        </div>
    </div>
    <div>
        <h3 class="uk-heading-line">
            <span>Change Password</span>
        </h3>
        {{#if success}}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{success}}</p>
            </div>
            {{else if error}}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{error}}</p>
            </div>
        {{/if}}
        <form class="uk-form-stacked" action="#" method="post">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="old_password">Old password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="old_password" name="old_password" type="password" placeholder="Old Password">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="new_password">New password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="new_password" name="new_password" type="password" placeholder="New Password">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="confirm_password">Confirm password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm password">
                </div>
            </div>
            <div class="uk-margin-top uk-text-right">
                <input type="submit" class="uk-button uk-button-primary" value="Save">
            </div>
        </form>
    </div>
</div>