<h3 class="uk-heading-bullet uk-margin-top">
    {{title}}
</h3>

    <div class="uk-card uk-card-default uk-box-shadow-medium">
        <div class="uk-card-header">
            <p>
                <span class="uk-text-bold">Name: </span>{{student.firstname}} {{student.lastname}}
            </p>
            <p>
                <span class="uk-text-bold">Student Type: </span>{{student.status_academic}}
            </p>
            <p>
                <span class="uk-text-bold">School: </span>{{student.school_name}}
            </p>
            <p>
                <span class="uk-text-bold">Major: </span>{{student.major_name}}
            </p>
        </div>


{{#each groupedByTerm as |item|}}
    {{!-- <div uk-grid> --}}

        <div class="uk-width-1-1">

            <div class="uk-card-body">
                <caption style="color:#1e87f0;">Term: {{item.0.term_name}}</caption>
                <table class="uk-table uk-table-small uk-table-divider">

                    <br>
                    <tr>
                        <th>Subject</th>
                        <th>Course</th>
                        <th>Title</th>
                        <th>Grade</th>
                        <th>Credit Hours</th>
                        <th>Quality Points</th>
                    </tr>
                    {{#each item}}
                        <tr>
                            <td>{{this.code}}</td>
                            <td>{{this.number}}</td>
                            <td>{{this.course_name}}</td>
                            <td>{{this.grade_letter}}</td>
                            <td>{{this.credit_hours}}</td>
                            <td>{{this.quality_points}}</td>
                        </tr>
                    {{/each}}
                </table>

                <table class="uk-table uk-table-small uk-table-divider">

                    <caption>Term Totals</caption>
                    <tr>
                        <td></td>
                        <th scope='col'>Attempt hours</th>
                        <th scope='col'>Earned hours</th>
                        <th scope='col'>GPA hours</th>
                        <th scope='col'>Quality Points</th>
                        <th scope='col'>GPA</th>
                    </tr>
                    <tr>
                        <th scope='row'>Current</th>
                        <td>{{item.0.curr_attempt_hours}}</td>
                        <td>{{item.0.curr_earned_hours}}</td>
                        <td>{{item.0.curr_gpa_hours}}</td>
                        <td>{{item.0.curr_quality_points}}</td>
                        <td>{{item.0.curr_gpa}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>Cumulative</th>
                        <td>{{item.0.cumul_attempt_hours}}</td>
                        <td>{{item.0.cumul_earned_hours}}</td>
                        <td>{{item.0.cumul_gpa_hours}}</td>
                        <td>{{item.0.cumul_quality_points}}</td>
                        <td>{{item.0.cumul_gpa}}</td>
                    </tr>
                </table>
                <hr>
            </div>
            
        </div>
{{/each}}

        </div>
</div>
</div>