<h3 class="uk-heading-bullet uk-margin-top">
    {{title}}
</h3>

<div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-top">
    <table class="uk-table uk-table-small uk-table-striped">
        <tr>
            <td>Student</td>
            <td>{{student.firstname}} {{student.lastname}}</td>
        </tr>
        <tr>
            <td>Academic Status</td>
            <td>{{student.status_academic}}</td>
        </tr>
        <tr>
            <td>School</td>
            <td>{{student.school_name}}</td>
        </tr>
        <tr>
            <td>Major</td>
            <td>{{student.major_name}}</td>
        </tr>
    </table>
</div>

{{#each groupedByTerm as |item|}}
    <div class="uk-overflow-auto uk-card uk-card-default uk-card-small uk-card-body uk-margin-top">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{item.0.term_name}}</h3>
        <table class="uk-table uk-table-small uk-table-striped">
            <tr>
                <th>Subject</th>
                <th>Course</th>
                <th>Title</th>
                <th>Grade</th>
                <th>Credit Hours</th>
                <th>Quality Points</th>
            </tr>
            {{#each item}}
                <tr>
                    <td>{{this.code}}</td>
                    <td>{{this.number}}</td>
                    <td>{{this.course_name}}</td>
                    <td>{{this.grade_letter}}</td>
                    <td>{{this.credit_hours}}</td>
                    <td>{{this.quality_points}}</td>
                </tr>
            {{/each}}
        </table>
        <table class="uk-table uk-table-small uk-table-striped">
            <tr>
                <td>
                    <b>TOTALS</b>
                </td>
                <th scope='col'>Attempt hours</th>
                <th scope='col'>Earned hours</th>
                <th scope='col'>GPA hours</th>
                <th scope='col'>Quality Points</th>
                <th scope='col'>GPA</th>
            </tr>
            <tr>
                <th scope='row'>Current</th>
                <td>{{item.0.curr_attempt_hours}}</td>
                <td>{{item.0.curr_earned_hours}}</td>
                <td>{{item.0.curr_gpa_hours}}</td>
                <td>{{item.0.curr_quality_points}}</td>
                <td>{{item.0.curr_gpa}}</td>
            </tr>
            <tr>
                <th scope='row'>Cumulative</th>
                <td>{{item.0.cumul_attempt_hours}}</td>
                <td>{{item.0.cumul_earned_hours}}</td>
                <td>{{item.0.cumul_gpa_hours}}</td>
                <td>{{item.0.cumul_quality_points}}</td>
                <td>{{item.0.cumul_gpa}}</td>
            </tr>
        </table>
    </div>
{{/each}}

</div>
</div>