<h3 class="uk-heading-bullet">
    {{title}}
</h3>

{{#if resultFound}}
    <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
        {{#each result}}
            <div class="">
                <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-card-badge uk-label">{{this.status}}</div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{this.name}}</h3>
                                <p class="uk-text-meta">
                                    <time datetime="{{this.start_date}}">Start: {{this.start_date}}</time>
                                    <br>
                                    <time datetime="{{this.end_date}}">End: {{this.end_date}}</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="./grades/term/{{this.id}}" class="uk-button uk-button-text">View Classes</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <div class="uk-alert-danger" uk-alert>
        <p>You don't have any term.</p>
    </div>
{{/if}}